<div class="c_service-loop">
  <a href="{{ service.url }}"><img class="c_service-loop__image" src="{{ service.data.featured_image }}" alt="{{ service.data.title }}"></a>
  <div class="c_service-loop__content">
    <h2 class="c_service-loop__title"><a href="{{ service.url }}">{{ service.data.title }}</a></h2>
    <p>{{ service.data.description }}</p>
  </div>
</div>
