<div class="c_post-loop">
  <a href="{{ post.url }}"><img class="c_post-loop__image" src="{{ post.data.featured_image }}" alt="{{ post.data.title }}"></a>
  <div class="c_post-loop__content">
    <h2 class="c_post-loop__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <ul class="c_post-loop__meta">
      <li>{{ post.data.date | date: "%d %B %Y" }}</li>
    </ul>
  </div>
</div>
