{%- assign currentPage = pagination.pageNumber | plus: 1 | abs  %}

<nav class="c_pagination">
  <ul class="c_pagination__list">
    <li class="c_pagination__item --back">

      {%- if pagination.href.previous %}

        <a class="c_pagination__link" href="{{ pagination.href.previous }}"><svg class="c_feather-icon"><use xlink:href="/_assets/images/feather.svg#chevron-left"/></svg></a>

      {%- else %}

        <span class="c_pagination__link"><svg class="c_feather-icon"><use xlink:href="/_assets/images/feather.svg#chevron-left"/></svg></span>

      {%- endif %}

    </li>

    {%- for url in pagination.hrefs %}

      {%- if forloop.index == currentPage %}

        <li class="c_pagination__item"><a class="c_pagination__link --active" href="{{ url }}">{{ forloop.index }}</a></li>

      {%- else %}

        <li class="c_pagination__item"><a class="c_pagination__link" href="{{ url }}">{{ forloop.index }}</a></li>

      {%- endif %}

    {%- endfor %}

    <li class="c_pagination__item --forward">

      {%- if pagination.href.next %}

        <a class="c_pagination__link" href="{{ pagination.href.next }}"><svg class="c_feather-icon"><use xlink:href="/_assets/images/feather.svg#chevron-right"/></svg></a>

      {%- else %}

        <span class="c_pagination__link"><svg class="c_feather-icon"><use xlink:href="/_assets/images/feather.svg#chevron-right"/></svg></span>

      {%- endif %}

    </li>
  </ul>
</nav>
