<div class="c_trim">
  <div class="l_container">

    {%- include navigation/trim %}

    <p class="--smallprint u_margin-bottom--none">&copy; {{ company.name.legal }} {{ "now" | date: "%Y" }} - {{ company.name.display }} is a trading name of {{ company.name.legal }}, registered in England and Wales under company number {{ company.number }}. Website by <a href="https://www.boov.co.uk" target="_blank" rel="noopener">Boov.co.uk</a></p>
  </div>
</div>
