<div class="c_project-loop">
  <a class="c_project-loop__image" href="{{ project.url }}"><img src="{{ project.data.featured_image }}" alt="{{ project.data.title }}"></a>
  <div class="c_project-loop__content">
    <h2 class="c_project-loop__title"><a href="{{ project.url }}">{{ project.data.title }}</a></h2>
    <p class="c_project-loop__description">{{ project.data.description }}</p>
  </div>
</div>
